
/* Base styling*/
body, html {
    height: 100%
}

nav {
    z-index: 3;
    background-color: rgb(28, 110, 140);
    color: #b0e7fc;
    display: block;
    text-align: center;
}

.flash-msg {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    width: 40%;
    text-align: center;
}

.pagination > li > span {
    color: rgb(152, 113, 137)
}

.pagination > .active > span {
    color: white;
    background-color: rgb(152, 113, 137) !Important;
    border: solid 1px rgb(152, 113, 137) !Important;
}

.pagination > li > a {
    color: rgb(152, 113, 137)
}

.bg-image{

    z-index: -1;
    filter: blur(2px);
    position: fixed;
    top: 0;
    min-width:100%; 
    min-height:100%; 
    width:auto; 
    height:auto;
}

.bodytext {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;

    margin-top: 80px;
    margin-bottom: 80px;

    z-index: 6;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: center;
}


/* Homepage styling*/
.bg-image-home {
    background: url(/static/photos/bookshelf4.jpg);
    background-size: cover;
}

#createaccount {
    display: inline-block;
}

#login {
    display: inline-block;
}

/* allfriends styling*/
.bg-image-allfriends {
    background: url(/static/photos/books2.jpg);
    background-size: cover;
}


h1 {
    color: rgb(176, 231, 252);
    padding-top: 5%;
    font-weight: bold;
    text-decoration: underline white;
    text-underline-position: under;
}

.friend {
    display: inline-block;
    padding: 10px;
}

.friendlink {
    color: rgb(176, 231, 252);
    font-size: larger;
    font-weight: bolder;
}

.friendstatus {
    font-size: small;
}

.btn-secondary {
    background-color: rgba(152, 113, 137, 1);
    font-weight: bold;
}

/* book styling*/

.bg-image-bookdetails {
    background: url(/static/photos/bookshelf5.jpg);
    background-size: cover;
}

.detailsimage {
    
    width: 80%;
}

.details {
    text-align: left;
    font-size: 20px;
    text-indent: 35px;
}

#authors {
    font-size: 20px;
}

h6 {
    font-size: larger;
    font-weight: bold;
}

.drpdown {

    background-color: #6c757d;
}

.detailforms {
    padding-left: 5%;
    padding-right: 5%;
}

/* collection styling*/

.bg-image-collection {
    background: url(/static/photos/bookshelf6.jpg);
    background-size: cover;

}

.bookdiv {
    bottom: 0;
    position: relative;
}

.bookname {
    margin-bottom: 5%;
}

.bookimage {
    
    height: 250px;
}

#jumppagecollection {
    margin-left: 50px;
    width: 150px;
}
/* results styling*/

.bg-image-results {
    background: url(/static/photos/bookshelf3.jpg);
    background-size: cover;
}

#jumppageresults {
    margin-left: 50px;
    width: 150px;
}


/* search styling*/
.bg-image-search {
    background: url(/static/photos/books.jpg);
    background-size: cover;
}

#searchtxt {
    width: 300px;
}

#searchbutton {
    margin-left: 50px ;
}

/* user_results styling*/
.bg-image-userresults {
    background: url(/static/photos/bookshelf2.jpg);
    background-size: cover;
}

/* user styling*/

.bg-pattern-user {
    background: url(/static/photos/bush/bush.png) repeat center;
    background: url(/static/photos/bookshelf1.jpg);
    background-size: cover;
}


.usersect {
    background-color: rgba(152, 113, 137, .3);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;

    z-index: 6;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: center;
}

h2 {
    margin-top: 30px ;
}

h5 {
    color: rgb(176, 231, 252);
}

.bookrequest {
    display: inline-block;
    padding: 10px;
}

.bookimageuser {
    
    height: 150px;
}

.bknmuser {
    width: 100%;
    max-width: 250px;
}

.requeststatus {
    justify-content: center;
}

.frienddisplay {
    display: inline-block;
    padding: 15px;
}