
/* Base styling*/
body, html {
    height: 100%
}

nav {
    z-index: 3;
    background-color: rgb(28, 110, 140);
    color: #b0e7fc;
    display: block;
    text-align: center;
}

.flash-msg {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 10%;
    left: 50%;
    transform: translate(-50%, 0%);
    z-index: 1;
    width: 40%;
    text-align: center;
}

.pagination > li > span {
    color: rgb(152, 113, 137)
}

.pagination > .active > span {
    color: white;
    background-color: rgb(152, 113, 137) !Important;
    border: solid 1px rgb(152, 113, 137) !Important;
}

.pagination > li > a {
    color: rgb(152, 113, 137)
}


/* Homepage styling*/
.bg-image{
    background: url(/static/photos/bookshelf4.jpg);
    background-size: cover;
    z-index: -1;

    filter: blur(2px);
    position: fixed;
    top: 0;
    min-width:100%; 
    min-height:100%; 
    width:auto; 
    height:auto;
}

.homepage {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;

    margin-top: 80px;
    margin-bottom: 80px;

    z-index: 1;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: center;
}

#createaccount {
    display: inline-block;
}

#login {
    display: inline-block;
}

/* allfriends styling*/
.bg-image-allfriends {
    background: url(/static/photos/books2.jpg);
    background-size: cover;
    z-index: -1;
    
    position: fixed;
    top: 0;
    min-width:100%; 
    min-height:100%; 
    width:auto; 
    height:auto;

    filter: blur(2px);
}


h1 {
    color: rgb(176, 231, 252);
    padding-top: 5%;
    font-weight: bold;
    text-decoration: underline white;
    text-underline-position: under;
}


.bodytextallfriends {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;

    margin-top: 80px;
    margin-bottom: 80px;

    z-index: 6;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: center;

}

.friend {
    display: inline-block;
    padding: 10px;
}

.friendlink {
    color: rgb(176, 231, 252);
    font-size: larger;
    font-weight: bolder;
}

.friendstatus {
    font-size: small;
}

.btn-secondary {
    background-color: rgba(152, 113, 137, 1);
    font-weight: bold;
}

/* book styling*/

.bg-image-bookdetails {
    background: url(/static/photos/bookshelf5.jpg);
    background-size: cover;
    z-index: -1;
    
    position: fixed;
    top: 0;
    min-width:100%; 
    min-height:100%; 
    width:auto; 
    height:auto;

    filter: blur(2px);
}

.bookdetails {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;

    margin-top: 80px;
    margin-bottom: 80px;

    z-index: 6;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: center;
}

.detailsimage {
    
    width: 80%;
}

.details {
    text-align: left;
    font-size: 20px;
    text-indent: 35px;
}

#authors {
    font-size: 20px;
}

h6 {
    font-size: larger;
    font-weight: bold;
}

.drpdown {

    background-color: #6c757d;
}

.detailforms {
    padding-left: 5%;
    padding-right: 5%;
}

/* collection styling*/



.collectiontxt {
    background-color: rgba(0, 0, 0, .6);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    
    margin-top: 80px;
    margin-bottom: 80px;
    
    z-index: 6;
    margin-right: auto;
    margin-left: auto;
    width: 80%;
    text-align: center;
}

.bg-image-collection {
    background: url(/static/photos/bookshelf6.jpg);
    background-size: cover;
    z-index: -8;
    
    position: fixed;
    top: 0;
    min-width:100%; 
    min-height:100%; 
    width:auto; 
    height:auto;

    filter: blur(2px);

}

.bookdiv {
    bottom: 0;
    position: relative;
}

.bookname {
    margin-bottom: 5%;
}

.bookimage {
    
    height: 250px;
}

#jumppagecollection {
    margin-left: 50px;
    width: 150px;
}
/* results styling*/

/* user_results styling*/

/* user styling*/

.bg-pattern-user {
    background: url(/static/photos/bush/bush.png) repeat center;
    background-size: auto, cover, 100%;

    filter: blur(2px);
    position: fixed;

    min-width:100%; 
    min-height:100%; 
    width:auto; 
    height:auto;
}

.bodytextuser {
    background-color:rgb(0,0,0);
    background-color: rgba(0,0,0,0.4);
    color: white;
    font-weight: bold;
    border: 3px solid #f1f1f1;
    position: absolute;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -5%);
    z-index: 1;
    width: 80%;
    text-align: center;
}






