{% extends 'base.html' %}
{% block title %}{{displayed_user.username}}'s Friends{% endblock %}

{% block body %}
<div class='bg-image-allfriends'></div>
<div class="bodytextallfriends">
    <h1>{{displayed_user.username.title()}}'s Friends</h1>
    <br>
    
    {% for friend in displayed_user.friends %}
        <div class=friend>
        {% if friend != user %}
            <div>
                <a class='friendlink' href="/user?id={{friend.id}}">{{friend.username.title()}}</a>     
            </div>

            {% if friend in user.friends and user in friend.friends %}
                <p class='friendstatus'>Friends</p>
                <form action="/delete_friend/{{friend.id}}">
                    <input type='submit' class="btn btn-secondary" value="Delete Friend">
                </form>

            
            {% elif friend in user.friends %}
                <p class='friendstatus'> Friend request sent </p>
                <form action="/retract_friend_request/{{friend.id}}">
                    <input type='submit' value="Cancel request" class="btn btn-secondary">
                </form>

            {% elif user in friend.friends %}
                <p class='friendstatus'> Pending Response </p>
                <div class="container">
                    <div class="row">
                <form action="/add_friend/{{friend.id}}">
                    <input type='submit' value="Accept" class='btn btn-secondary col'>
                </form>
                <form action="/decline_friend/{{friend.id}}">
                    <input type='submit' value="Decline" class="btn btn-secondary col">
                </form>
                </div></div>
            {% else %}
                <form action="/add_friend/{{friend.id}}">
                    <input type='submit' value="Send a Friend Request" class="btn btn-secondary">
                </form>

            {% endif %}
        {% endif %}
        <br>
        <br>
        </div>
    {% endfor %}
</div>
{% endblock %}