{% extends 'base.html' %}
{% block title %}Book details!{% endblock %}

{% block body %}
    <h1>{{book['title']}}</h1>

    <img src="{{ book['imageLinks']['thumbnail']}}">
    <p>By: {{book['authors']}}</p>
    <p>{{book['description']}}</p>

    <form action="/add_book/{{google_id}}">
        <div id='add_to_collection'>
            <a>
                Add to a collection
            </a>
            <br>
            <select name=collection_type>
                {% for each in user.collections %}
                        <option value={{each.collection_type}}>
                            {{ ' '.join(each.collection_type.split('_')).title() }}</option>
                    {% endfor %}
            </select>
            <input type='submit' value="Add">
        </div>
    </form>

{% endblock %}