{% extends 'base.html' %}
{% block title %}Book details!{% endblock %}

{% block body %}
    <h1>{{book['title']}}</h1>

    <img src="{{ book['imageLinks']['thumbnail']}}">
    <p>By: {{book['authors']}}</p>
    <p>{{book['description']}}</p>

    <form action="/add_book/{{google_id}}">
        <div id='add_to_collection'>
            <a>
                Add to a collection:
            </a>
            <br>
            {% set collection_count = [] %}
            {% for every in user.collections %}
                {% if book_obj in every.books%}
                    {% if collection_count.append('1') %}{% endif %}
                {% endif %}
            {% endfor %}
            {% if collection_count|length == user.collections|length %}
                <p>Book has been added to all collections</p>
            {% else %}
                <select name=collection_type>
                    {% for each in user.collections %}
                        {% if book_obj not in each.books %}
                            <option value={{each.collection_type}}>
                                {{ ' '.join(each.collection_type.split('_')).title() }}</option>
                        {% endif %}
                    {% endfor %}

                </select>
                <input type='submit' value="Add">
            {% endif %}
        </div>
    </form>

    <div>
        <p> Book in these collections:</p>
            {% for each in user.collections %}
                {% if book_obj in each.books %}
                    <a href='/collection?collection={{each.id}}'>
                        {{' '.join(each.collection_type.split('_')).title() }}</a> 
                    {% for each in user.lent_books %}
                        {% if book_obj == each.book[0] %}
                            <p>Book is currently lent from this collection to {{each.borrower.username.title()}}</p>
                        {% endif %}
                    {% endfor %}
                {% endif %}
            {% endfor %}
    </div>

    <br>
    <br>
    {% if user.get_lender(book_obj) != [] %}
        <p>Book is already requested from {{user.get_lender(book_obj)[0].username.title()}}</p>
    {% else %}
        <p>Lendable from</p>
        {% for friend in user.friends %}
            {% if user in friend.friends %}
                {% for each in friend.collections %}
                    {% if each.lendable %}
                        {% if book_obj in each.books%}
                            <a href='/user?id={{friend.id}}'>{{friend.username}}</a>
                            <form action="/request_book/{{book_obj.google_id}}/{{each.id}}">
                                <input type='submit' value="Request to borrow">
                            </form>
                        {% endif %}
                    {% endif %}
                {% endfor %}
            {% endif %}
        {% endfor %}
    {% endif %}
{% endblock %}