{% extends 'base.html' %}
{% block title %}{{collection.user.username.title()}}'s Collection{% endblock %}

{% block body %}
<div class='bg-image-collection'></div>
<div class="collectiontxt container">
    
    <meta id='pages-java' data-count='{{pages}}'>
    <h1>{{collection.user.username.title()}}'s {{" ".join(collection.collection_type.split("_")).title()}} 
        Collection</h1>
        <br>
    {% if collection.lendable and collection.private %}
        <h6>Collection is both lendable and private </h6>
        <br>
    {% elif collection.lendable %}
        <h6>Collection is lendable to friends </h6>
        <br>
    {% elif collection.private %}
        <p>Collection is private and can not be seen by other users</p>
        <br>
    {% endif %}
    <br>
    {% for i in range(((page-1)*24), page*24): %}
        {% if collection.books|length > i %}
            {% if i % 3 == 0 %}
                <div class='row bookdiv'>
            {% endif %}
            <div class='col'>
                {% if collection.books[i].cover_img != None %}
                <image class='bookimage' src="{{ collection.books[i].cover_img }}"></image>
                {% endif %}
                <br>
                <br>
                <a class='friendlink bookname' href="/book?gi={{collection.books[i].google_id}}">{{collection.books[i].title}}</a>   
                <br>
                <br>
                {% if collection.user == user %}  
                    <form action="/delete_book/{{collection.books[i].google_id}}/{{collection.id}}">
                            <input class='collectionbutton btn btn-secondary' type='submit' value="Delete from Collection">
                    </form>
                    <br>
                    {% if collection.collection_type == 'to_read' %}
                        {% if user.get_lender(collection.books[i]) != [] %}
                            <br>
                            <p>Book is already requested from <br>
                                <a class='friendlink' href='/user?id={{user.get_lender(collection.books[i])[0].id}}'>
                                    {{user.get_lender(collection.books[i])[0].username.title()}}</a>
                            </p>
                            <form action="/delete_request/{{user.get_lender(collection.books[i])[1]}}">
                                <input type='submit' value="Delete Request" class='btn btn-secondary'>
                            </form> 
                        {% else %}
                            {% for friend in user.friends %}
                                {% if user in friend.friends %}
                                    {% for each in friend.collections %}
                                        {% if each.lendable %}
                                            {% if collection.books[i] in each.books %}
                                                <br>
                                                <h6>Lendable from</h6>
                                                <a class='friendlink' href='/user?id={{friend.id}}'>{{friend.username.title()}}</a>
                                                <br>
                                                <form action="/request_book/{{collection.books[i].google_id}}/{{each.id}}">
                                                    <input class="btn btn-secondary" type='submit' value="Request to borrow">
                                                </form>
                                            {% endif %}
                                        {% endif %}
                                    {% endfor %}
                                {% endif %}
                            {% endfor %}
                        {% endif %}
                    {% elif collection.lendable %}
                        {% for each in user.lent_books %}
                            {% if collection.books[i] == each.book[0] and each.lent %}
                                <br>
                                <p>Book is currently lent from this collection to <br>
                                    <a class='friendlink' href='/user?id={{each.borrower.id}}'>{{each.borrower.username.title()}}</a></p> 
                                <form action="/delete_request/{{each.id}}">
                                    <input type='submit' value="Returned" class='btn btn-secondary'>
                                </form>
                                <br>
                                <br>  
                            {% endif %}
                        {% endfor %}
                    {% endif %}
                {% elif collection.lendable and collection.user in user.friends %}
                    {% if user.get_lender(collection.books[i]) != [] %}
                        <p>Book is already requested from <br>
                            <a class='friendlink' href='/user?id={{user.get_lender(collection.books[i])[0].id}}'>
                                {{user.get_lender(collection.books[i])[0].username.title()}}</a></p>
                        <form action="/delete_request/{{user.get_lender(collection.books[i])[1]}}">
                            <input type='submit' value="Delete Request" class='btn btn-secondary'>
                        </form> 
                        <br>
                        <br>
                    {% elif user in collection.user.friends %}
                        <form action="/request_book/{{collection.books[i].google_id}}/{{collection.id}}">
                            <input type='submit' value="Request to borrow" class="btn btn-secondary">
                        </form>
                        <br>
                    {% endif %}
                {% endif %}
                {% if i % 3 == 2 or i == collection.books|length - 1 %}
                    <br>
                    <br>
                    </div>
                {% endif %}
            </div>
        {% endif %}
    {% endfor %}

    <br>
    {% if pages < 5 %}
        <div class='pagenav' aria-label='search_results'>
            <ul class='pagination justify-content-center pagecolor'>
            {% for num in range(1, pages+1)%}
                {% if num == page %}
                    <li class='page-item active' aria-current='page'>
                        <span class='page-link'>
                            {{num}}
                            <span class='sr-only'>(current)</span>
                        </span>
                    </li>
                {% else %}
                    <li class='page-item'><a class='page-link' href="/collection?collection={{collection.id}}&page={{num}}">{{num}}</a></li> 
                {% endif %}
            {% endfor %}
            </ul>
        </div>
    {% else %}
        <div>
            {% if page != 1 %}
                <a class='pagination' href="/collection?collection={{collection.id}}&page=1">1</a>
            {% else %}
                <a class='pagination'>1</a>
            {% endif %}
            {% if page > 3 %}
            <a class='pagination'>...</a>
            {% endif %}
            {% for num in range(page-2, page+3)%}
                {% if num > 1 and num < pages %}
                    {% if num == page %}
                        <a class='pagination'>{{num}}</a>
                    {% else %}
                        <a class='pagination' href="/collection?collection={{collection.id}}&page={{num}}">{{num}}</a>
                    {% endif%}
                {% endif %}
            {% endfor %}
            {% if page < pages-3 %}
                <a class='pagination'>...</a>
            {% endif %}
            {% if page != pages %}
                <a class='pagination' href="/collection?collection={{collection.id}}&page={{pages}}">{{pages}}</a>
            {% else %}
                <a class='pagination'>{{pages}}</a>
            {% endif %}
            <br>
            <div>
                <input id=jumppagecollection type="text" name='page'>
                <button id=jumpcollection>Jump to page</button>
        </div>
    {% endif %}
</div>
</div>
{% endblock %}