{% extends 'base.html' %}
{% block title %}{{collection.user.username.title()}}'s Collection{% endblock %}

{% block body %}
    
    <h1>{{collection.user.username.title()}}'s {{" ".join(collection.collection_type.split("_")).title()}} 
        Collection</h1>
    {% for book in collection.books %}
        <div>
            {% if book.cover_img != None %}
            <image src="{{ book.cover_img }}"></image>
            {% endif %}
            <a href="/book?gi={{book.google_id}}">{{book.title}}</a>     
        </div>
    {% endfor %}
{% endblock %}