{% extends 'base.html' %}
{% block title %}Welcome to My Reads!{% endblock %}

{% block body %}
<div class='bg-image bg-image-home'></div>
<div class='bodytext container'>
  <h1>Welcome!</h1>
  <br>

  <div class='row'>
  <div id='creataccount' class='col'>
  <h2>Create an Account</h2>
  <form action="/users" method="POST">
    <p>
      <input type="text" name="email" placeholder="Email">
    </p>

    <p>
      <input type="username" name="username" placeholder="Username">
    </p>

    <p>
    <input type="password" name="password" placeholder="Password">
    </p>

    <p>
      <input class='btn-secondary btn' type="submit">
    </p>
  </form>
  </div>

  <div id='login' class='col'>
    <h2>Already have an account? 
      <br>Log in!</h2>

    <form action="/login" method="POST">
      <p>
      <input type="text" name="email" placeholder="Email">
      </p>
  
      <p>
      <input type="password" name="password" placeholder="Password">
      </p>
  
      <p>
        <input class='btn-secondary btn' type="submit">
      </p>
    </form>
  </div>
  </div>
</div>
{% endblock %}