{% extends 'base.html' %}
{% block title %}User{% endblock %}

{% block body %}
    <h1>{{searched_user.username.title()}}</h1>

    {% if searched_user.id == user.id %}
        <form action='/create_collection'>
            <div>
                <label for='collection_name'>Create a new collection</label>
                <input type='text' name='collection_name' id='collection_name_other'> 
            </div>
            <input type='submit' value="Create">
        </form>
        <p>Friend Requests</p>
        {% if requests == [] %}
            <p>No new Requests</p>
        {% endif %}
        {% for each in requests %}
            <a href='/user?id={{each.id}}'>{{each.username}}</a>
            <form action="/add_friend/{{each.id}}">
                <input type='submit' value="Accept Friend Request">
            </form>
        {% endfor %}

        <br>
        <br>

        <p>Friends</p>
        {% if user.friends == [] %}
            <p>No current friends</p>
        {% endif %}
        {% for i in range(5) %}
            {% if i < friends|length %}
                <a href='/user?id={{friends[i].id}}'>{{friends[i].username}}</a>
            {% endif %}
        {% endfor %}
        <br>
        <a href='/friends/{{searched_user.id}}'>See all friends</a>

    {% elif searched_user in user.friends and user in searched_user.friends %}
        <p> You're friends! </p>

        <br>
        <br>

        <p>Friends</p>
        {% if searched_user.friends == [] %}
            <p>No current friends</p>
        {% endif %}
        {% for i in range(5) %}
            {% if i < searched_user.friends|list|length %}
                {% if searched_user.friends[i].id != user.id%}
                    <a href='/user?id={{searched_user.friends[i].id}}'>
                        {{searched_user.friends[i].username}}</a>
                {% endif %}
            {% endif %}
        {% endfor %}
        <br>
        <a href='/friends/{{searched_user.id}}'>See all friends</a>

        
    {% elif searched_user in user.friends %}
        <p> A friend request has been sent to this user </p>

    {% elif user in searched_user.friends %}
        <form action="/add_friend/{{searched_user.id}}">
            <input type='submit' value="Accept Friend Request">
        </form>
    
    {% else %}
        <form action="/add_friend/{{searched_user.id}}">
            <input type='submit' value="Send a Friend Request">
        </form>

    {% endif %}
    <br>
    <br>

    <h2>Collections:</h2>

    <div>
        {% for each in searched_user.collections %}
            <h3>{{' '.join(each.collection_type.split('_')).title()}}</h3>
            {% for i in range(10) %}
                {% if i < each.books|length %}
                    <div>
                        {% if each.books[i].cover_img != None %}
                        <image src="{{ each.books[i].cover_img }}"></image>
                        {% endif %}
                        <a href="/book?gi={{each.books[i].google_id}}">{{each.books[i].title}}</a>     
                    </div>
                {% endif %}
            {% endfor %}

            <a href="/collection?collection={{each.id}}">See all books in this collection</a>
        {% endfor %}
    </div>

{% endblock %}