{% extends 'base.html' %}
{% block title %}User{% endblock %}

{% block body %}
    <h1>{{searched_user.username}}</h1>

    <h2>Collections:</h2>
    {% if searched_user.id == user.id %}
        <form action='/create_collection'>
            <div>
                <label for='collection_name'>Create a new collection</label>
                <input type='text' name='collection_name' id='collection_name_other'> 
            </div>
            <input type='submit' value="Create">
        </form>
    {% endif %}

    <div>
        {% for each in searched_user.collections %}
            <h3>{{' '.join(each.collection_type.split('_')).title()}}</h3>
            {% for i in range(10) %}
                {% if i < each.books|length %}
                    <div>
                        {% if each.books[i].cover_img != None %}
                        <image src="{{ each.books[i].cover_img }}"></image>
                        {% endif %}
                        <a href="/book?gi={{each.books[i].google_id}}">{{each.books[i].title}}</a>     
                    </div>
                {% endif %}
            {% endfor %}

            <a href="/collection?collection={{each.id}}">See all books in this collection</a>
        {% endfor %}
    </div>

{% endblock %}